## 머신러닝 개인 프로젝트

In [1]:
import pandas as pd  
import numpy as np

train_data = pd.read_csv('../hyunhee/learning/machinelearning/train.csv')
test_data = pd.read_csv('../hyunhee/learning/machinelearning/test.csv')

In [2]:
train_data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,M,16,U,LE3,T,4,2,teacher,other,...,4,5,1,1,3,5,2,15,15,16
1,GP,M,15,U,GT3,T,4,4,services,services,...,4,3,1,1,1,5,0,17,16,17
2,GP,M,18,U,LE3,T,3,3,services,health,...,3,2,4,2,4,4,13,6,6,8
3,GP,F,16,U,GT3,T,2,3,services,teacher,...,2,3,1,1,1,3,2,16,16,17
4,GP,M,15,U,GT3,T,4,3,teacher,other,...,4,3,3,2,3,5,6,9,9,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,GP,F,16,U,GT3,T,2,1,other,other,...,4,3,5,1,1,5,2,8,9,10
313,GP,F,17,U,GT3,T,4,3,health,services,...,4,2,2,1,2,3,0,15,15,15
314,GP,M,16,U,LE3,T,2,2,other,other,...,5,4,4,2,4,5,0,13,13,12
315,GP,M,18,U,GT3,T,4,2,teacher,other,...,4,3,2,1,4,5,11,12,11,11
316,GP,F,15,U,GT3,T,1,2,at_home,services,...,3,2,3,1,2,1,2,16,15,15

In [3]:
test_data

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,M,18,U,GT3,T,4,3,teacher,other,...,4,3,2,1,1,3,2,8,8,8
1,GP,F,16,U,LE3,A,3,3,other,services,...,2,3,5,1,4,3,12,11,12,11
2,GP,M,15,U,LE3,A,4,4,teacher,teacher,...,5,5,3,1,1,4,6,18,19,19
3,GP,F,17,U,GT3,T,2,4,at_home,health,...,4,3,3,1,1,1,2,10,10,10
4,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,MS,F,18,R,LE3,T,4,4,teacher,services,...,5,4,3,3,4,2,4,8,9,10
76,GP,F,16,U,GT3,T,1,1,at_home,other,...,4,3,2,1,4,5,6,9,9,10
77,GP,F,17,U,GT3,T,3,2,other,other,...,5,3,4,1,3,3,10,16,15,15
78,GP,F,15,U,GT3,T,4,4,teacher,services,...,4,2,2,1,1,5,2,9,11,11
79,GP,F,16,U,GT3,T,2,2,other,other,...,5,2,3,1,3,3,0,11,11,11

In [4]:
binary_mapping = {
    'school': {'GP': 0, 'MS': 1},
    'sex': {'F': 0, 'M': 1},
    'address': {'U': 0, 'R': 1},
    'famsize': {'LE3': 0, 'GT3': 1},
    'Pstatus': {'T': 0, 'A': 1},
    'schoolsup': {'yes': 1, 'no': 0},
    'famsup': {'yes': 1, 'no': 0},
    'paid': {'yes': 1, 'no': 0},
    'activities': {'yes': 1, 'no': 0},
    'nursery': {'yes': 1, 'no': 0},
    'higher': {'yes': 1, 'no': 0},
    'internet': {'yes': 1, 'no': 0},
    'romantic': {'yes': 1, 'no': 0}
}

for column, mapping in binary_mapping.items():
    train_data[column] = train_data[column].map(mapping)
    test_data[column] = test_data[column].map(mapping)

In [5]:
# 원-핫 인코딩 (True = 1 , False = 0)
categorical_columns = ['Fjob', 'Mjob', 'reason', 'guardian']
train_data_encoded = pd.get_dummies(train_data, columns=categorical_columns, dtype=int)
test_data_encoded = pd.get_dummies(test_data, columns=categorical_columns, dtype=int)

In [6]:
train_data_encoded

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,traveltime,studytime,...,Mjob_other,Mjob_services,Mjob_teacher,reason_course,reason_home,reason_other,reason_reputation,guardian_father,guardian_mother,guardian_other
0,0,1,16,0,0,0,4,2,1,2,...,0,0,1,1,0,0,0,0,1,0
1,0,1,15,0,1,0,4,4,2,2,...,0,1,0,0,0,0,1,0,1,0
2,0,1,18,0,0,0,3,3,1,2,...,0,1,0,0,1,0,0,1,0,0
3,0,0,16,0,1,0,2,3,1,2,...,0,1,0,0,0,1,0,0,1,0
4,0,1,15,0,1,0,4,3,1,2,...,0,0,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,0,0,16,0,1,0,2,1,1,2,...,1,0,0,1,0,0,0,0,1,0
313,0,0,17,0,1,0,4,3,1,3,...,0,0,0,0,0,0,1,0,1,0
314,0,1,16,0,0,0,2,2,2,2,...,1,0,0,0,0,0,1,0,1,0
315,0,1,18,0,1,0,4,2,1,2,...,0,0,1,0,1,0,0,0,1,0
316,0,0,15,0,1,0,1,2,1,2,...,0,0,0,1,0,0,0,0,1,0

In [7]:
train_data_encoded.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
       'G3', 'Fjob_at_home', 'Fjob_health', 'Fjob_other', 'Fjob_services',
       'Fjob_teacher', 'Mjob_at_home', 'Mjob_health', 'Mjob_other',
       'Mjob_services', 'Mjob_teacher', 'reason_course', 'reason_home',
       'reason_other', 'reason_reputation', 'guardian_father',
       'guardian_mother', 'guardian_other'],
      dtype='object')

In [8]:
data_input = train_data_encoded[['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
       'Fjob_at_home', 'Fjob_health', 'Fjob_other', 'Fjob_services',
       'Fjob_teacher', 'Mjob_at_home', 'Mjob_health', 'Mjob_other',
       'Mjob_services', 'Mjob_teacher', 'reason_course', 'reason_home',
       'reason_other', 'reason_reputation', 'guardian_father',
       'guardian_mother', 'guardian_other']].to_numpy()

target = train_data_encoded['G3'].to_numpy()

In [9]:
correlations = np.corrcoef(data_input.T, target)

In [10]:
feature_names = ['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
       'Fjob_at_home', 'Fjob_health', 'Fjob_other', 'Fjob_services',
       'Fjob_teacher', 'Mjob_at_home', 'Mjob_health', 'Mjob_other',
       'Mjob_services', 'Mjob_teacher', 'reason_course', 'reason_home',
       'reason_other', 'reason_reputation', 'guardian_father',
       'guardian_mother', 'guardian_other']

for i, feature in enumerate(feature_names):
    correlation = correlations[i, -1]  # 각 특성과 'G3' 성적의 상관관계
    print(f"상관관계 ({feature} vs G3): {correlation}")

상관관계 (school vs G3): -0.05198700547229912
상관관계 (sex vs G3): 0.08701273654893309
상관관계 (age vs G3): -0.14779677603930264
상관관계 (address vs G3): -0.07463130113512216
상관관계 (famsize vs G3): -0.06028531816829752
상관관계 (Pstatus vs G3): 0.04411617983624554
상관관계 (Medu vs G3): 0.21173487128142235
상관관계 (Fedu vs G3): 0.16377087143249203
상관관계 (traveltime vs G3): -0.12740293967159821
상관관계 (studytime vs G3): 0.09387433689529372
상관관계 (failures vs G3): -0.3761795143925151
상관관계 (schoolsup vs G3): -0.07634450871366201
상관관계 (famsup vs G3): 0.005104345306048923
상관관계 (paid vs G3): 0.10105684405752367
상관관계 (activities vs G3): 0.026521919191746596
상관관계 (nursery vs G3): 0.0514006880365381
상관관계 (higher vs G3): 0.176842931873858
상관관계 (internet vs G3): 0.11077653448329935
상관관계 (romantic vs G3): -0.10915870784752886
상관관계 (famrel vs G3): 0.055748434128355465
상관관계 (freetime vs G3): 0.004460542291522757
상관관계 (goout vs G3): -0.1146743096565247
상관관계 (Dalc vs G3): -0.07929999724816551
상관관계 (Walc vs G3): -0.0444500963824976
상관관계 (health vs G3): -0.06624863537279393
상관관계 (absences vs G3): 0.03454383241404561
상관관계 (G1 vs G3): 0.7969866680843986
상관관계 (G2 vs G3): 0.9018646332665287
상관관계 (Fjob_at_home vs G3): -0.0168512961902058
상관관계 (Fjob_health vs G3): 0.08586709485113765
상관관계 (Fjob_other vs G3): -0.03099479129495416
상관관계 (Fjob_services vs G3): -0.02051483384869211
상관관계 (Fjob_teacher vs G3): 0.04863129566129679
상관관계 (Mjob_at_home vs G3): -0.11969883863542208
상관관계 (Mjob_health vs G3): 0.14564652392548885
상관관계 (Mjob_other vs G3): -0.10945150663159976
상관관계 (Mjob_services vs G3): 0.1124778663427134
상관관계 (Mjob_teacher vs G3): 0.004847168757547779
상관관계 (reason_course vs G3): -0.14371827547039528
상관관계 (reason_home vs G3): -0.027795604255973938
상관관계 (reason_other vs G3): 0.056462399437261654
상관관계 (reason_reputation vs G3): 0.14904447152923908
상관관계 (guardian_father vs G3): 0.04974648552595427
상관관계 (guardian_mother vs G3): -0.01067028433524143
상관관계 (guardian_other vs G3): -0.060656060445234965

In [13]:
data_input = train_data_encoded[['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
       'Fjob_at_home', 'Fjob_health', 'Fjob_other', 'Fjob_services',
       'Fjob_teacher', 'Mjob_at_home', 'Mjob_health', 'Mjob_other',
       'Mjob_services', 'Mjob_teacher', 'reason_course', 'reason_home',
       'reason_other', 'reason_reputation', 'guardian_father',
       'guardian_mother', 'guardian_other']].to_numpy()

target = train_data_encoded['G3'].to_numpy()

In [16]:
from sklearn.model_selection import train_test_split

train_input, test_input, train_target, test_target = train_test_split(data_input, target, test_size= 0.2, random_state = 42)

In [17]:
sub_input, val_input, sub_target, val_target = train_test_split(train_input, train_target, test_size=0.2, random_state = 42)

In [18]:
print(sub_input.shape, val_input.shape)

(202, 45) (51, 45)

In [19]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(random_state=42)
rf.fit(sub_input, sub_target)

print(rf.score(sub_input, sub_target))
print(rf.score(val_input, val_target))

0.9749820452617628
0.8119353139013452

In [20]:
from sklearn.model_selection import cross_validate

scores = cross_validate(rf, sub_input, sub_target, return_train_score=True)
print(scores)

{'fit_time': array([0.08601379, 0.08351636, 0.08317351, 0.08150673, 0.08223939]), 'score_time': array([0.00200009, 0.00200057, 0.00199986, 0.00199986, 0.00099587]), 'test_score': array([0.93087095, 0.89802586, 0.78040218, 0.71538517, 0.87471148]), 'train_score': array([0.97265831, 0.97543482, 0.97697792, 0.97866906, 0.97539615])}

In [21]:
import numpy as np

print(np.mean(scores['train_score']))
print(np.mean(scores['test_score']))

0.9758272501146387
0.8398791281697069

In [22]:
from sklearn.model_selection import GridSearchCV

params = {
    'max_depth':range(20,50),
    'min_samples_split': range(2,25),
    'min_samples_leaf': range(1, 25),
    'min_impurity_decrease' : np.arange(0.0001, 0.01, 0.0005)
}

In [ ]:
gs = GridSearchCV(RandomForestRegressor(random_state = 42) , params, n_jobs=-1)
gs.fit(sub_input, sub_target)

In [ ]:
# 그리드 서치를 통해 얻은 최적의 모델(여기서는 결정 트리)
rf = gs.best_estimator_
# 최적의 모델에 대해 학습 데이터에서의 정확도를 출력
print(rf.score(sub_input, sub_target))

In [ ]:
print(rf.best_params_)

In [125]:
rf =RandomForestRegressor(max_depth=20, min_impurity_decrease= 0.0001, min_samples_leaf= 8, min_samples_split= 2, random_state=42)
rf.fit(sub_input, sub_target)

print(rf.score(sub_input, sub_target))
print(rf.score(val_input, val_target))

0.9105986933590255
0.8580213493002917

In [126]:
cv_results = cross_validate(rf, sub_input, sub_target, cv=5, scoring='r2', return_train_score=True)

print("Train scores:", cv_results['train_score'])
print("Validation scores:", cv_results['test_score'])
print("Average train score:", np.mean(cv_results['train_score']))
print("Average validation score:", np.mean(cv_results['test_score']))

Train scores: [0.89333798 0.90256246 0.91497628 0.92249555 0.9081617 ]
Validation scores: [0.94169168 0.9018023  0.8377701  0.74596404 0.84399001]
Average train score: 0.908306793021737
Average validation score: 0.8542436261844777

In [128]:
test_input = test_data_encoded[['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel',
       'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2',
       'Fjob_at_home', 'Fjob_health', 'Fjob_other', 'Fjob_services',
       'Fjob_teacher', 'Mjob_at_home', 'Mjob_health', 'Mjob_other',
       'Mjob_services', 'Mjob_teacher', 'reason_course', 'reason_home',
       'reason_other', 'reason_reputation', 'guardian_father',
       'guardian_mother', 'guardian_other']].to_numpy()

test_target = test_data_encoded['G3'].to_numpy()

In [129]:
print(rf.score(test_input, test_target))

0.8260935012145166

In [130]:
test_predictions = rf.predict(test_input)

In [132]:
print("Test predictions:", test_predictions)
print("Actual values:", test_target)

Test predictions: [ 8.22222222 11.9        18.07692308 10.4         3.5        12.75
 12.8        10.92857143  8.22222222 13.6         9.53333333 13.6
  9.53333333 14.09090909  0.          3.5        15.2        12.75
  8.22222222 15.2        15.71428571 10.4        10.92857143 10.4
 15.71428571  7.33333333 10.4        11.9        11.9        12.75
 15.2         0.          7.33333333 10.92857143 18.07692308 12.8
 18.07692308 12.75       18.07692308 13.6        11.9        13.6
 13.6        14.09090909 14.09090909 11.9        15.71428571  9.53333333
  5.75        8.22222222  0.          9.53333333  8.66666667 12.8
  0.          3.5        14.09090909 10.4         3.5         8.22222222
 14.09090909 15.2        12.8        10.92857143  8.66666667  8.22222222
  5.75       10.4        12.75       11.9        13.6        13.6
  8.22222222 10.4         6.33333333  9.53333333  8.66666667 15.71428571
 10.92857143 10.92857143]
Actual values: [ 8 11 19 10  9 11 14 12 11 13  8 15 10 14  0 10 14 11  8 15 16 10 11  9
 18  8  9 11 11 11 15  0  9 11 19 12 18 13 18 13 11 13 13 14 14 11 15  9
  5 10  0  9  8 13  0 11 14 10  0  9 14 15 13 12 10  8  6 11 12 12 12 14
 10 10 10 10 10 15 11 11]